<body class="leaderboard_page">
<h1 class="leaderboard_header"> Leaderboard </h1>
<h3 class="leaderboard_subheader"> Check out how well other pirates are conquering the seas! </h3>


<%= content_tag :div, class: "leader_board" do %>
	<% @users_sorted_by_worth.each do |user|  %>
		<%= content_tag :h4, class: "captain_name" do %>
			Captain <%= user.lname %> <span><%= user.adjective %></span>
			<%= content_tag :h3, class: "total_worth" do %>
				<%= user.total_worth %>
			<% end %>
		<% end %>

		<br>
	<% end %>
<% end %>
</body>

