<div class="user_info">
<h1 class="user_info_header"> Pirate Info </h1>
Captain <%= @user.lname %>
<br>
Bio: <%= @user.bio %>
<br>
Status: <%= @user.adjective %>
<br>
<br>
</div>


<%= link_to("Sign Out", '/logout', method: :delete) %>
<br>
<br>

<h1> Edit Your Account </h1>
<%= form_for @user do |f| %>
<%= f.label :Captain %>
<%= f.text_field :lname %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.label :adjective %>
<%= f.select :adjective, ['Scallywag', 'Buccaneer', 'Old Salt', 'SeaDog', 'Landlubber']%>
<br>
<%= f.label :bio %>
<%= f.text_field :bio %>
<br>
<%= f.submit :create %>
<% end %>


