<body class="users_page">
<div class="user_info">
<h2 class="user_info_header"> Pirate Info </h2>
<%= content_tag :h3, "Captain #{@user.lname}" %>
<%= content_tag :h3, "Bio:" %>
<%= @user.bio %>
<br>
<%= content_tag :h3, "Status: #{@user.adjective}" %>
<br>
<br>
</div>

<div class="sign_out">
<%= link_to("Sign Out", '/logout', method: :delete) %>
</div>
<br>
<br>

<div class="edit_account">
<h3 class="edit_account_header"> Edit Your Account </h3>
<%= form_for @user do |f| %>
<%= f.label :Captain %>
<%= f.text_field :lname %>
<br>
<%= f.label :password %>
<%= f.password_field :password %>
<br>
<%= f.label :adjective %>
<%= f.select :adjective, ['Scallywag', 'Buccaneer', 'Old Salt', 'SeaDog', 'Landlubber']%>
<br>
<%= f.label :bio %>
<%= f.text_field :bio %>
<br>
<%= f.submit :create %>
<% end %>
</div>

<div class="user_stalked_boats">
<h3 class="user_stalked_boats_header"> Boats Being Stalked </h3>

<% @user.stalked_boats.each do |boat| %>
<%= boat.name %>
<br>
<br>
<% end %>

</div>

<!-- <div class="user_boat_list">
<h3 class="user_boat_list_header"> Pirate's Fleet </h3>

<% @user.expeditions.each do |boat| %>
<%= boat.name %>
<br>
<br>
<% end %>

</div> -->

</body>


