<body class="all_boats_page">
<h3 class="all_boats_header"> All Boats on the Water</h3>


<% @boats.each do |boat|  %>
<div class="all_boats">
<%= image_tag boat.image.url(:medium) %>
<br>
Name: <%= link_to boat.name, boat_path(boat.id) %>
<br>
Cargo: <%= boat.cargo %>
<br>
Amount of Containers: <%= boat.container %>
<br>
Current Location: <%= boat.location %>
<br>
Captured: <%= boat.captured %>
</div>
<% end %>
</body>