<body class="boat_specs_page">

<div class="boat_specs">
<h3 class="boat_specs_header"> Boat Specs </h3>
<%= image_tag @boat.image.url(:medium) %>
<br>
Name: S.S. <%= @boat.name %>
<br>
Cargo: <%= @boat.cargo %>
<br>
Amount of Containers: <%= @boat.container %>
<br>
Current Location: <%= @boat.location %>
<br>
Captured: <%= @boat.captured %>
<br>
</div>



<div class="update_boat">
<h3 class="update_boat_header"> Update This Boat's Contents </h3>
<%= form_for @boat do |f| %>
	<br>
	<%= f.label :Cargo_on_Board %>
	<%= f.select :cargo, ['Gold', 'Preserved Meat', 'Jewels', 'Rotten Apples', 'Rum', 'Grain', 'Empty', 'Ammunition', 'Silver', 'Letters']%>
	<br>
	<%= f.label :Current_Location %>
	<%= f.select :location, ['Port Royal', 'Tortuga', 'Barataria Bay', 'Canary Islands'] %>
	<br>
	<%= f.label :Is_This_Boat_Captured %>
	<%= f.check_box :captured %>
	<br>
	<%= f.submit :update %>
<% end %>
</div>
</body>
