<h1> Boat Specs </h1>
<%= image_tag @boat.image.url(:medium) %>
<br>
Name: S.S. <%= @boat.name %>
<br>
Cargo: <%= @boat.cargo %>
<br>
Amount of Containers: <%= @boat.container %>
<br>
Current Location: <%= @boat.location %>
<br>
Captured: <%= @boat.captured %>
<br>


<h1> Update This Boat's Contents </h1>
<%= form_for @boat do |f| %>
	<%= f.label :Cargo_on_Board %>
	<%= f.select :cargo, ['Gold', 'Preserved Meat', 'Jewels', 'Rotten Apples', 'Rum', 'Grain', 'Empty', 'Ammunition', 'Silver', 'Letters']%>
	<br>
	<%= f.label :Current_Location %>
	<%= f.select :location, ['Port Royal', 'Tortuga', 'Barataria Bay', 'Canary Islands'] %>
	<br>
	<%= f.label :Is_This_Boat_Captured %>
	<%= f.check_box :captured %>
	<br>
	<%= f.submit :create %>
<% end %>



<h1> Congratulations on swiping this beautiful ship! </h1>
<h2> Please fill out an expedition report to document your brave capture! </h2>

<%= form_for @expedition do |f| %>
	<%= f.label :Name %>
	<%= f.text_field :name %>
	<br>
	<%= f.label :Captains_Log %>
	<%= f.text_field :captains_log%>
	<br>
	<%= f.label :Stolen_From %>
	<%= f.select :origin, ['Port Royal', 'Tortuga', 'Barataria Bay', 'Canary Islands'] %>
	<%= hidden_field_tag :boat_id, @boat.id%>
	<br>
	<%= f.label :Taken_To %>
	<%= f.select :destination, ['Port Royal', 'Tortuga', 'Barataria Bay', 'Canary Islands'] %>
	<br>
	<br>
	<%= f.submit :create %>
	<% end %>
