<!DOCTYPE html>
<html>
<head>
  <title>PirateShipsProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<header>
		<ul id="drop-nav">
		  <li><%= link_to "Map", '/map' %>
			<ul>
		      <li><%= link_to "Boat Index", boats_path %></li>
		  	</ul>
		  <li><%= link_to "Leaderboard", users_path %></li>
		  <li><%= link_to "Account", " " %>
			<ul>
		      <li><%= link_to "Sign Up", new_user_path %></li>
		      <li><%= link_to "Login", '/login' %></li>
		    </ul>
		  </li>
		  <% if @current_user != nil %>
		  <li><%= link_to "Pirate", "" %>
		    <ul>
		    <li><%= link_to "My Pirate Profile", user_path(@current_user.id) %></li>
		    <li><%= link_to "Add Boat", new_boat_path %></li>
		    <li><%= link_to("Sign Out", '/logout', method: :delete) %></li>
		    </ul>
		    <% end %>
		</ul>
		<%= image_tag("header_slogan_two.png", class: "header_slogan") %>
		<%= image_tag("seadogs_logo_burned.png", class: "logo_layout") %>

	</header>
	<%= flash[:notice] if flash[:notice] %> 
	<%= flash[:alert] if flash[:alert] %>
<%= yield %>

</body>
</html>
